.container404 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: clamp(4rem, 10vw, 10rem);
    text-align: center;
    margin: 0;
  }
  p {
    margin: 0;
    font-size: clamp(3rem, 5vw, 5rem);
    text-align: center;
  }
}
