.formGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.2rem;
    color: var(--text-color);
  }
}

.formInput {
  color: var(--text-color);
  font-size: 1rem;
  padding: 0.5rem;
  border: 1.5px solid var(--secondary);
  border-radius: 0.3rem;
  background: #212d87;
  box-shadow: inset 20px 20px 60px #1c2673, inset -20px -20px 60px #26349b;
  transition: 300ms border;
  resize: vertical;
  max-width: 100%;
  min-width: 100%;
}

.formSmall {
  font-size: 1rem;
  color: var(--text-color);
  font-style: italic;
}

.formLink {
  text-decoration: underline;
}
