.header {
  > h1 {
    margin-bottom: 0;
  }
  > p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }
}

.experienceItem {
  padding: 1.2rem 0;
  border-radius: 17px;
  background: #282db8;
  box-shadow: inset 26px 26px 52px #14165a, inset -26px -26px 52px #3c44ff;
  padding: 1em;
  margin: 1em;
}

.experienceTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.2rem;

  h1 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }
}

.experienceDesc {
  font-size: 1.1rem;
}

.experienceStackContainer {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(85px, 100%), 1fr));
  gap: 0.5rem;
}

.experienceStack {
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  background: var(--dark);
  min-width: 85px;
  text-align: center;
  cursor: default;
  transition: 200ms;
  opacity: 0.7;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
      transform: translateY(-0.1rem);
      box-shadow: 0 0px 8px 2px rgb(22, 27, 34, 0.3);
    }
  }
}
