.main {
  margin-top: 0.5em;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center !important;
  background: var(--bg);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid var(--secondary);
  padding: 0.85em;
}

.mainTitle {
  background: rgba(83, 144, 236, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid var(--bg);
  h1 {
    font-size: clamp(2rem, 10vw, 5rem);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 55pt;
    margin-top: 1.2rem;
  }

  h2 {
    text-transform: uppercase;
    font-size: clamp(1.2rem, 6vw, 2.5rem);
    margin: 0;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5em;
  }
}

.mainText {
  margin: 1.5rem 0;
  align-self: center;
  color: var(--light);
  font-size: clamp(1rem, 5vw, 1.3rem);
  text-align: center;
  max-width: 65ch;
}

.btnContainer {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-flexbox;
  gap: 0.5rem;
  align-content: center;
  justify-content: center;
  // grid-template-columns: repeat(2, 1fr);
  transition: box-shadow 200ms, transform 200ms;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.btnContainer a {
  margin: 1.5rem;
  transition: filter 200ms, transform 200ms;
}

.btnContainer a:hover,
.btnContainer a:focus {
  transform: translateY(-0.2rem);
  filter: brightness(150%);
}

@media (max-width: 600px) {
  .btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: inherit;
    margin-right: inherit;
    padding: 0;
  }

  .btnContainer .btn:nth-child(2n + 2) {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .mainText {
    text-align: justify !important;
    padding: 1em;
  }
  .mainTitle {
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
  }
}

@media (max-width: 320px) {
  .btnContainer {
    grid-template-columns: auto;
  }
}
