.main {
  margin-top: 2rem;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainTitle {
  h1 {
    font-size: clamp(2rem, 10vw, 5.5rem);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 55pt;
  }

  h2 {
    text-transform: uppercase;
    font-size: clamp(1.2rem, 6vw, 2.5rem);
    margin: 0;
    font-weight: 400;
    text-align: center;
  }
}

.mainText {
  margin: 1.5rem 0;
  align-self: center;
  color: var(--light);
  font-size: clamp(1rem, 5vw, 1.3rem);
  text-align: center;
  max-width: 65ch;
}

.btnContainer {
  margin: 1.5rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.btnContainer a {
  margin: 0;
  transition: filter 200ms, transform 200ms;
}

.btnContainer a:hover,
.btnContainer a:focus {
  transform: translateY(-0.2rem);
  filter: brightness(150%);
}

@media (min-width: 768px) {
  .btnContainer {
    display: flex;
    justify-content: center;
  }

  .btnContainer .btn:nth-child(2n + 2) {
    margin: 0 10px;
  }
}

@media (max-width: 320px) {
  .btnContainer {
    grid-template-columns: auto;
  }
}
