.skillsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(min(10rem, 100%), 1fr));
  gap: 1rem;
  @media (max-width: 910px) {
    grid-template-columns: repeat(2, minmax(min(15rem, 100%), 1fr));
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(2, minmax(min(7rem, 100%), 1fr));
  }
}

.skillsItem {
  display: flex;
  flex-direction: column;

  background: rgba( 39, 105, 180, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 2rem;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 1rem;
  
  header {
    margin-bottom: 0.7rem;

    h1 {
      font-size: clamp(1.1rem, 6vw, 1.5rem);
      font-weight: bold;
    }
  }

  ul {
    // margin-top: auto;
    // justify-content: center;
    background: rgba( 39, 105, 180, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 2rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
  }

  li {
    list-style-type: none;
  }

  p {
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
  }
}
