.skillsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(min(10rem, 100%), 1fr));
  gap: 0.85rem;
  @media (max-width: 910px) {
    grid-template-columns: repeat(2, minmax(min(15rem, 100%), 1fr));
  }

  @media (max-width: 500px) {
    grid-template-columns: repeat(2, minmax(min(7rem, 100%), 1fr));
  }
}

.skillsItem {
  display: flex;
  flex-direction: column;

  background: rgba(39, 105, 180, 0.01);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem !important;

  header {
    margin: 0;

    h1 {
      font-size: clamp(1.1rem, 6vw, 1.5rem);
      font-weight: bold;
      margin: 0.2em;
    }
  }

  ul {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, minmax(min(0.5rem, 100%), 1fr));
    border: 1px solid #2c5cb5;

    border-radius: 19px;
    background: var(--btn);
    box-shadow: inset 50px -50px 100px var(--bg), inset -50px 50px 100px var(--secondary);
    // padding: 1rem;
  }

  li {
    list-style-type: none;
    margin: 0.65em auto;
    background: none;
    box-shadow: none;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    border-radius: 0;
    border: none;
  }
  p {
    text-align: center !important;
    padding: 0.1em 0;
    font-size: 2vh;
    background: none;
    box-shadow: none;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    border-radius: 0;
    border: none;
  }

  i {
    margin: 0.65rem auto;
    background: rgba(43, 87, 136, 0);
    box-shadow: 0 8px 32px 0 rgba(18, 23, 88, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0.35rem;
    size: 2em;
    font-size: 1.85em;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .skillsContainer {
    margin: 0;
    padding: auto;
  }
  .skillsItem {
    justify-content: center;
    align-items: center !important;
    padding: 1em !important;
    margin: 0;

    h1 {
      margin: 0 !important;
      padding-bottom: 0;
    }

    ul {
      margin-bottom: 0 !important;
      margin: 0;
      padding: 1.2vh;
      // justify-content:space-between;
      grid-template-columns: repeat(3, minmax(min(0.4rem, 100%), 1fr));

      gap: 0.3em;
    }

    li {
      margin: 0.01rem;
    }
    i {
      font-size: 1.5rem;
      margin: auto;
      display: flex;
      width: 2.5rem !important;
      height: 2.5rem !important;
      justify-content: center;
      padding: 0;
      gap: 1.5em;
    }
    p {
      padding: 0.01em;
      font-size: 0.75em;
    }
  }
}

@media (max-width: 380px) {
  .skillsItem {
    h1 {
      margin-bottom: 0.2em;
    }
    // padding: 1em 0;
    ul {
      padding: 1.6vh;
    }
    li {
      margin: 0;
    }
    i {
      font-size: 1.2rem !important;
      width: 2rem !important;
      height: 2rem !important;
    }
    p {
      padding: 0.01em;
      font-size: 0.5em;
    }
  }
}
