.timelineSection {
  margin-top: 3rem;
}

.timeline {
  margin: 0 auto;
  position: relative;
  max-width: 1200px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    background: var(--secondary);
    left: 50%;
    margin-left: -3px;
    filter: brightness(150%);
    border-radius: 0.5rem;
  }
}

.timelineItem {
  display: block;
  position: relative;
  width: 50%;

  &::after {
    z-index: 80;
    content: "";
    position: absolute;
    top: 50%;
    right: -13px;
    width: 25px;
    height: 25px;
    background: var(--secondary);
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.left {
  padding: 10px 40px 10px 0;
  left: 0;

  &::before {
    content: "";
    height: 0px;
    width: 0px;
    position: absolute;
    top: 50%;
    right: 30px;
    border: solid var(--secondary);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--secondary);
    transform: translateY(-50%);
  }
}

.right {
  padding: 10px 0 10px 40px;
  left: 50%;

  &::after {
    left: -12px;
  }

  &::before {
    content: "";
    height: 0px;
    width: 0px;
    position: absolute;
    top: 50%;
    left: 30px;
    border: 10px solid var(--secondary);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--secondary) transparent transparent;
    transform: translateY(-50%);
  }
}

.timelineItemBody {
  display: block;
  border-radius: 0.5rem;
  transition: box-shadow 300ms ease;
  padding: 0.8rem 1rem;
  background: var(--secondary);
  color: white;
  font-size: 1.1rem;
  box-shadow: 0 2px 4px 0 rgb(22, 27, 34, 0.3);
}

.timelineItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 0.5rem;

  p {
    font-size: 1rem;
    color: var(--text-color);
    background: var(--secondary);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    filter: brightness(80%);
    font-weight: bold;
    margin: 0;
  }

  h1 {
    font-size: clamp(1rem, 2vw, 1.3rem);
    color: var(--text-color);
    margin: 0.2rem 0;
  }
}

.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1200px) {
  .timeline::after {
    left: 20px;
  }

  .timelineItem {
    width: 100%;
    padding-left: 55px;
    padding-right: 0px;
  }

  .timelineItem::before {
    left: 45px;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--secondary) transparent transparent;
  }

  .left::after,
  .right::after {
    left: 8px;
    z-index: 80;
  }

  .right {
    left: 0;
  }

  .reverse {
    flex-direction: row;
  }
}

.viewOlderBtn {
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
  background: none;
  border: none;
  padding: 0;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 300ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (hover: hover) {
  .timelineItemBody:hover {
    box-shadow: 0 0px 18px 0 rgb(22, 27, 34, 0.3);
  }

  .timelineLink:hover {
    color: white;
  }

  .viewOlderBtn:hover {
    transform: translateX(-50%) scale(1.1);
  }
}
