@font-face {
  font-family: "CascadiaMono";
  src: url("/fonts/CascadiaMono.woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

.mdHtmlContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mdHtmlTextArea {
  height: 75vh;

  padding: 0.5rem 1rem;
  color: white;
  border: 2px solid var(--text-color);
  border-radius: 0.3rem;

  resize: vertical;
  background: var(--dark);
  word-break: break-all;

  font-family: "CascadiaMono", "Courier New", monospace;
  line-height: 1.5rem;

  &:hover + button {
    opacity: 1;
  }
}

.mdHtmlHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.mdHtmlInputs {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
}

.mdHtmlSelect {
  border: 2px solid var(--text-color);
  border-radius: 0.3rem;

  padding: 0.2rem 0.5rem;
  font-size: 1rem;

  background: var(--dark);
  color: var(--text-color);
}

.copyBtn {
  position: absolute;
  top: 5.5rem;
  right: 0;
  z-index: 99;

  transition: opacity 200ms;
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  background: var(--secondary);
  color: var(--text-color);

  font-size: 1rem;
  cursor: pointer;

  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
